/* spacing */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 18px;
  /*overflow-x: hidden;*/ }

#site {
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.1em;
  /*overflow-x: hidden;*/ }
  #site #yield_container {
    max-width: 100vw;
    /*overflow-x: hidden;*/ }
  #site #yield_inner_wrapper {
    position: relative; }
  #site a:link,
  #site a:visited {
    color: inherit;
    /*text-decoration: none;*/ }
  #site a:hover {
    text-decoration: none; }
  #site video {
    width: 100%; }
  #site img {
    display: inline-block;
    width: 50%; }
  #site .small_type {
    font-size: 0.65rem; }
  #site .reverse {
    text-align: left;
    display: block;
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1); }
  #site #zoom_image_container {
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
    width: 100vw;
    height: 100vh;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 10vh solid transparent;
    border-bottom: 10vh solid transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 100;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity ease 0.5s;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    opacity: 0; }
  #site.open #zoom_image_container {
    opacity: 1;
    pointer-events: auto; }
    #site.open #zoom_image_container:hover {
      cursor: zoom-out; }

@media (max-width: 1000px) {
  html {
    font-size: 16px; } }
@media (max-width: 900px) {
  html {
    font-size: 16px; } }
#site {
  margin-top: 1.6rem;
  width: 100%; }
  #site .curatorial_statement {
    padding: 4rem 1rem 0.2rem 1rem;
    text-align: justify;
    text-align-last: center;
    background-image: linear-gradient(to right, #fff 35%, #000 65%);
    font-size: 1.8rem;
    line-height: 1.2em; }
    #site .curatorial_statement em {
      font-style: italic; }
  #site .process_sub_section.view_more_toggle {
    margin-top: -1rem;
    margin-bottom: 1rem;
    display: inline-block; }
    #site .process_sub_section.view_more_toggle .text_wrap {
      font-size: 0.65rem;
      text-decoration: underline; }
      #site .process_sub_section.view_more_toggle .text_wrap:after {
        content: 'View More'; }
    #site .process_sub_section.view_more_toggle:hover {
      cursor: pointer; }
      #site .process_sub_section.view_more_toggle:hover .text_wrap {
        text-decoration: none; }
  #site .process_sub_section.view_more_toggle.open .text_wrap:after {
    content: 'View Less'; }
  #site .view_more_container {
    display: none; }
  #site .title {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /*background-color: #fff;*/ }
    #site .title:before {
      content: '';
      position: absolute;
      top: -2rem;
      left: -1rem;
      right: -1rem;
      width: calc(100% + 2rem);
      background-image: linear-gradient(to right, #fff 35%, #000 65%);
      height: 5rem;
      z-index: -10;
      filter: blur(10px);
      -webkit-filter: blur(10px); }
    #site .title h1 {
      display: inline-block;
      /*vertical-align: top;*/
      text-transform: uppercase;
      width: 35%; }
    #site .title h2 {
      display: inline-block;
      /*vertical-align: top;*/
      margin-right: 0.5rem; }
  #site #navigation_container {
    position: relative;
    z-index: 3;
    margin-bottom: -6rem; }
  #site #statement_after_container {
    position: relative;
    overflow-x: hidden;
    height: 6rem;
    width: 100%;
    z-index: 11;
    top: -1.5rem; }
    #site #statement_after_container:after {
      content: '';
      top: 0;
      left: -1rem;
      right: -1rem;
      height: 4rem;
      background-image: linear-gradient(to right, #fff 35%, #000 65%);
      background-color: transparent;
      position: absolute;
      z-index: 11;
      filter: blur(10px);
      -webkit-filter: blur(10px); }
  #site #bio_container {
    padding-top: 4rem;
    padding-bottom: 10rem;
    position: relative;
    background-image: linear-gradient(to right, #fff 35%, #000 65%); }
  #site .curators_wrapper {
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
    margin-right: 30%;
    width: 40%;
    text-align: center; }
    #site .curators_wrapper .white {
      margin-top: 1rem; }
  #site .bios {
    width: 100%; }
  #site .process_link_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35%;
    width: 30%;
    background-image: linear-gradient(to right, #fff, #000); }
  #site .navigation_section {
    padding: 0 1rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 35%;
    padding-top: 4rem; }
    #site .navigation_section.arielle, #site .navigation_section.madeleine {
      margin-left: 30%;
      text-align: right;
      background-color: #000;
      color: #fff; }
  #site #curators,
  #site #site_credits {
    position: absolute;
    width: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    text-align: center; }
  #site #curators {
    top: 8rem; }
  #site #site_credits {
    bottom: 10rem;
    font-size: 0.65rem; }
    #site #site_credits .process_sub_section {
      margin-bottom: 0; }
  #site #thank_you_container {
    background-color: #fff;
    padding: 2rem 1rem 6rem 1rem;
    box-sizing: border-box;
    position: relative;
    text-align: center; }
    #site #thank_you_container:before {
      content: '';
      position: absolute;
      top: -4rem;
      left: 0;
      width: 100%;
      height: 4rem;
      background-image: linear-gradient(rgba(255, 255, 255, 0), #fff); }
    #site #thank_you_container img {
      margin: 1.5rem 2rem 0 2rem;
      display: inline-block;
      vertical-align: middle; }
    #site #thank_you_container p {
      padding: 0 18rem;
      box-sizing: border-box;
      -webkit-box-sizing: border-box; }
  #site img#artsns {
    width: 7%; }
  #site img#ccfa {
    width: 20%; }
  #site img#cfat {
    width: 4%; }
  #site img#halifax {
    width: 10%; }
  #site #footer_quote {
    position: absolute;
    top: 50%;
    width: 30%;
    margin-left: 35%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 1.8rem;
    line-height: 1.1em;
    text-align: center; }
    #site #footer_quote em {
      font-style: italic; }

@media (max-width: 1050px) {
  #site #thank_you_container p {
    padding: 0 10%; }
  #site .curatorial_statement {
    padding-top: 2rem; }
  #site .curatorial_statement,
  #site #footer_quote {
    font-size: 1.5rem; } }
@media (max-width: 767px) {
  #site .curatorial_statement {
    padding-top: 1.5rem; }
    #site .curatorial_statement .process_sub_section {
      margin-bottom: 0; }
    #site .curatorial_statement .view_more_toggle.process_sub_section {
      margin-top: 0.5rem;
      margin-bottom: 0.9rem; }
  #site .section_links {
    display: none; }
  #site .title {
    text-align: center; }
    #site .title:before {
      background-color: #000;
      background-image: none; }
    #site .title h1 {
      display: inline-block;
      /*vertical-align: top;*/
      text-transform: uppercase;
      color: #fff;
      width: 100%; }
  #site #language_links {
    display: none; }
  #site .curatorial_statement {
    background-image: linear-gradient(#fff 35%, #000 65%); }
  #site .bios {
    padding-bottom: 4rem;
    background-image: linear-gradient(#fff 35%, #000 65%, #000 85%, #fff); }
  #site #statement_after_container:after {
    background-image: none;
    background-color: #000; }
  #site #curators {
    margin-top: 3rem; }
  #site #curators,
  #site #site_credits,
  #site #footer_quote {
    position: static;
    transform: none;
    width: 100%;
    margin-left: 0;
    padding: 0 1rem;
    box-sizing: border-box; }
    #site #curators .white,
    #site #site_credits .white,
    #site #footer_quote .white {
      display: none; }
  #site #thank_you_container {
    padding-top: 0; }
  #site #thank_you_container:before {
    display: none; }
  #site .navigation_section {
    width: 100%;
    margin-left: 0 !important;
    background-color: rgba(0, 0, 0, 0) !important; }
  #site #bio_container {
    background-image: none;
    padding-bottom: 2rem; } }
@media (max-width: 630px) {
  #site #thank_you_container p {
    padding: 0; }
  #site #thank_you_container img {
    margin: 2rem auto;
    display: block; }
  #site img#artsns {
    width: 17%; }
  #site img#ccfa {
    width: 40%; }
  #site img#cfat {
    width: 14%; }
  #site img#halifax {
    width: 20%; } }
#site #camila .section_heading:before {
  background-color: #ffe69e; }
#site #arielle .section_heading:before {
  background-color: #3c7453; }
#site #camille .section_heading:before {
  background-color: #d3ceff; }
#site #madeleine .section_heading:before {
  background-color: #102467; }
#site .section_heading {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  padding-bottom: 1rem;
  padding-top: 3.5rem;
  margin-bottom: 2rem;
  /*background-color: inherit;*/
  z-index: 5; }
  #site .section_heading.process_section_heading {
    top: 4.25rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0; }
    #site .section_heading.process_section_heading:before {
      display: none; }
    #site .section_heading.process_section_heading .black {
      margin-top: 3.5rem; }
    #site .section_heading.process_section_heading .white {
      margin-top: 0 !important; }
    #site .section_heading.process_section_heading .black,
    #site .section_heading.process_section_heading .white {
      text-decoration: underline; }
    #site .section_heading.process_section_heading:hover .black,
    #site .section_heading.process_section_heading:hover .white {
      text-decoration: none; }
  #site .section_heading h1 {
    text-transform: uppercase;
    padding-top: 0.8em; }
  #site .section_heading:before {
    content: '';
    position: absolute;
    left: -1rem;
    right: -1rem;
    width: calc(100% + 1rem * 2);
    top: 0;
    z-index: -1;
    height: 7.5rem;
    background-color: inherit;
    filter: blur(10px);
    -webkit-filter: blur(10px); }
#site .currently {
  display: block; }
#site .artist_section {
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 35%; }
  #site .artist_section#camila {
    /*background-color: $camila;*/
    text-align: left;
    /*transform: translateX(25%);*/
    /*border-right: 1px solid;*/ }
  #site .artist_section#arielle, #site .artist_section#madeleine {
    /*background-color: $arielle;*/
    color: #fff;
    text-align: right;
    /*transform: translateX(-25%);*/
    /*border-left: 1px solid;*/ }
    #site .artist_section#arielle .zoom_image, #site .artist_section#madeleine .zoom_image {
      width: 100%; }
#site .process_sub_sections_wrapper {
  /*display: none;*/
  transition: opacity ease 0.4s;
  -webkit-transition: opacity ease 0.4s;
  opacity: 0.15;
  pointer-events: none; }
#site .artists_wrapper {
  position: relative; }
#site #camila_arielle_wrapper {
  background-image: linear-gradient(to right, #ffe69e 35%, #3c7453 65%);
  z-index: 2;
  /*margin-bottom: -6rem;*/ }
  #site #camila_arielle_wrapper .process_section {
    display: inline-block; }
    #site #camila_arielle_wrapper .process_section .section_heading:after {
      background-image: linear-gradient(to right, #ffe69e, #3c7453); }
#site #camila_arielle_after_container {
  position: relative;
  overflow-x: hidden;
  height: 6rem;
  width: 100%;
  z-index: 11;
  top: 3.5rem; }
  #site #camila_arielle_after_container:after {
    content: '';
    top: 0;
    left: -1rem;
    right: -1rem;
    height: 4rem;
    background-image: linear-gradient(to right, #ffe69e 35%, #3c7453 65%);
    position: absolute;
    z-index: 11;
    filter: blur(10px);
    -webkit-filter: blur(10px); }
#site #camille_madeleine_wrapper {
  z-index: 1;
  background-image: linear-gradient(to right, #d3ceff 35%, #102467 65%); }
  #site #camille_madeleine_wrapper .process_section {
    display: inline-block; }
    #site #camille_madeleine_wrapper .process_section .section_heading:after {
      background-image: linear-gradient(to right, #d3ceff, #102467); }
#site #camille_madeleine_after_container {
  position: relative;
  overflow-x: hidden;
  height: 6rem;
  width: 100%;
  z-index: 11;
  top: 3.5rem; }
  #site #camille_madeleine_after_container:after {
    content: '';
    top: 0;
    left: -1rem;
    right: -1rem;
    height: 4rem;
    background-image: linear-gradient(to right, #d3ceff 35%, #102467 65%);
    position: absolute;
    z-index: 11;
    filter: blur(10px);
    -webkit-filter: blur(10px); }
#site .process_section {
  font-size: 0.65rem;
  text-align: center;
  padding-top: 4rem;
  padding: 4rem 1.5rem 0 1.5rem;
  box-sizing: border-box;
  display: block;
  width: 30%;
  top: 0;
  bottom: 0;
  left: 35%; }
#site .subsection {
  margin-bottom: 2rem; }
#site .left {
  transform-origin: top left;
  /*text-shadow: 0 0 0.2rem #fff;*/ }
  #site .left .subsection_heading_container {
    text-align: right; }
#site .right {
  transform-origin: top right;
  /*text-shadow: 0 0 0.2rem #000;*/ }
  #site .right .subsection_heading_container {
    text-align: left; }
#site .subsection_heading_container {
  position: sticky;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  z-index: 10;
  top: 4.5rem;
  margin-bottom: 2rem; }
#site #arielle_images img {
  width: 100%;
  margin-bottom: 1rem; }
#site .open #process_toggle .text_wrap {
  opacity: 1; }
  #site .open #process_toggle .text_wrap:before {
    content: "Hide "; }
#site .open .process_sub_sections_wrapper {
  opacity: 1;
  pointer-events: auto; }
#site #process_toggle:hover {
  cursor: pointer; }
  #site #process_toggle:hover .text_wrap {
    opacity: 1; }
#site #process_toggle .text_wrap {
  transition: opacity ease 0.4s; }
#site #process_toggle .text_wrap:before {
  content: 'View '; }
#site .process_section .section_heading {
  padding-bottom: 0rem;
  margin-bottom: 2.2em; }
  #site .process_section .section_heading:after {
    content: '';
    top: -5rem;
    left: -1.5rem;
    right: -1.5rem;
    height: 7.5rem;
    z-index: -1;
    position: absolute;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    pointer-events: none; }
#site .process_media_container img,
#site .process_media_container video {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2rem;
  width: calc(50% - 1.5rem);
  box-sizing: border-box; }
  #site .process_media_container img:nth-child(odd),
  #site .process_media_container video:nth-child(odd) {
    margin-left: 1rem;
    margin-right: 0.5rem; }
  #site .process_media_container img:nth-child(even),
  #site .process_media_container video:nth-child(even) {
    margin-right: 1rem;
    margin-left: 0.5rem; }
#site .process_sub_section {
  position: relative;
  margin-bottom: 2rem; }
#site .black,
#site .white {
  width: 50%;
  overflow: hidden; }
#site .white {
  color: white;
  position: absolute;
  top: 0;
  right: 0; }
  #site .white .text_wrap {
    transform: translateX(-50%); }
#site .text_wrap {
  width: 200%; }
#site .zoom_image {
  box-shadow: 0 0 0.75rem transparent;
  transition: box-shadow ease 0.4s;
  -webkit-transition: box-shadow ease 0.4s; }
  #site .zoom_image:hover {
    cursor: zoom-in;
    box-shadow: 0 0 0.75rem; }
#site .transition_button {
  display: none; }

@media (max-width: 1050px) {
  #site #yield_inner_wrapper {
    width: 100%;
    overflow-x: hidden; }
  #site .artists_wrapper {
    width: 140%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transition: transform ease 0.5s;
    -webkit-transition: transform ease 0.5s; }
  #site.slide_over .artists_wrapper {
    transform: translateX(-28.57%);
    -webkit-transform: translateX(-28.57%); } }
@media (max-width: 767px) {
  #site .black,
  #site .white {
    width: 100%;
    overflow-y: hidden; }
  #site .white {
    color: white;
    position: absolute;
    top: 50%;
    height: 50%;
    right: 0; }
    #site .white .text_wrap {
      transform: translateY(-100%);
      -webkit-transform: translateY(-100%); }
  #site .text_wrap {
    width: 100%;
    height: 100%; }
  #site .artists_wrapper {
    width: 100%; }
  #site .artist_section {
    width: 100%; }
  #site #camila_arielle_wrapper {
    background-image: linear-gradient(#ffe69e 35%, #3c7453 65%); }
    #site #camila_arielle_wrapper .process_section {
      background-image: linear-gradient(#ffe69e 35%, #3c7453 65%); }
  #site #camille_madeleine_wrapper {
    background-image: linear-gradient(#d3ceff 35%, #102467 65%); }
    #site #camille_madeleine_wrapper .process_section {
      background-image: linear-gradient(#d3ceff 35%, #102467 65%); }
  #site .section_heading:before {
    display: none; }
  #site .process_section {
    position: absolute;
    left: calc(100% - 2px);
    top: 0;
    height: 100%;
    width: calc(100% + 2px); }
  #site .process_section_heading {
    display: none; }
  #site .process_sub_sections_wrapper {
    opacity: 1;
    pointer-events: auto; }
  #site.slide_over .artists_wrapper {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%); }
  #site #camille_madeleine_after_container,
  #site #camila_arielle_after_container {
    width: 200%; }
    #site #camille_madeleine_after_container:after,
    #site #camila_arielle_after_container:after {
      background-image: none; }
  #site #camila_arielle_after_container:after {
    background-color: #3c7453; }
  #site #camille_madeleine_after_container:after {
    background-color: #102467; }
  #site .process_sub_section.black_mobile .white {
    display: none; }
  #site .process_sub_section.white_mobile .black {
    display: none; }
  #site .process_sub_section.white_mobile .white {
    position: static;
    transform: none; }
    #site .process_sub_section.white_mobile .white .text_wrap {
      transform: none;
      -webkit-transform: none; }
  #site .process_media_container {
    margin-bottom: 3rem; }
  #site .process_sub_section {
    margin-bottom: 5rem; }
  #site .process_section {
    padding-top: 7.5rem;
    font-size: 1rem; } }
#site .section_links {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center; }
  #site .section_links a {
    margin: 0 0.5rem;
    font-style: normal !important;
    width: auto;
    display: inline-block;
    position: static; }
    #site .section_links a.link_white {
      color: #fff; }
#site footer {
  position: fixed;
  bottom: -0.5rem;
  height: 6rem;
  font-size: 1rem;
  z-index: 12;
  width: 100%;
  overflow-x: hidden;
  /*background-image: linear-gradient(transparent, #fff);*/ }
  #site footer:after {
    content: '';
    position: absolute;
    left: -1rem;
    right: -1rem;
    height: 5rem;
    bottom: -1.5rem;
    background-image: linear-gradient(to right, #fff 35%, #000 65%);
    z-index: -1;
    filter: blur(10px); }
#site #language {
  text-align: center;
  color: #fff;
  margin-top: 3.8rem; }
  #site #language h2,
  #site #language a {
    display: inline-block;
    margin: 0 1rem; }
  #site #language .en {
    color: #000; }
#site #language_links {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #fff; }

@media (max-width: 1050px) {
  #site .transition_button {
    display: block;
    position: absolute;
    top: 0.7rem;
    width: 1.5rem;
    transition: opacity ease 0.5s;
    -webkit-transition: opacity ease 0.5s; }
    #site .transition_button.black {
      left: 1rem;
      opacity: 0;
      pointer-events: none; }
    #site .transition_button.white {
      right: 1rem;
      opacity: 0;
      pointer-events: none; }
    #site .transition_button.black_mobile {
      display: none;
      transform: rotate(180deg); }
  #site.in_content.slide_over .transition_button.black {
    opacity: 1;
    pointer-events: auto; }
  #site.in_content.slide_over .transition_button.white {
    opacity: 0;
    pointer-events: none; }
  #site.in_content .transition_button:hover {
    cursor: pointer; }
  #site.in_content .transition_button.black {
    opacity: 0;
    pointer-events: none; }
  #site.in_content .transition_button.white {
    opacity: 1;
    pointer-events: auto; }
  #site footer {
    top: 0;
    bottom: auto; }
    #site footer #language {
      margin-top: 0.8rem; }
    #site footer .transition_button {
      top: 0.8rem; }
    #site footer:after {
      top: -2rem;
      bottom: auto; }
  #site .title {
    bottom: 0;
    top: auto; }
    #site .title:before {
      top: auto;
      bottom: -2rem; } }
@media (max-width: 767px) {
  #site footer:after {
    background-color: #fff;
    background-image: none; }
  #site footer .transition_button {
    top: 0.55rem;
    opacity: 0; }
    #site footer .transition_button.white {
      display: none; }
    #site footer .transition_button.black_mobile {
      right: 1rem;
      display: block;
      opacity: 0;
      pointer-events: auto;
      transform: rotate(180deg); }
  #site.in_content.slide_over .transition_button.black {
    opacity: 1;
    pointer-events: auto; }
  #site.in_content.slide_over .transition_button.black_mobile {
    opacity: 0;
    pointer-events: none; }
  #site.in_content .transition_button:hover {
    cursor: pointer; }
  #site.in_content .transition_button.black {
    opacity: 0;
    pointer-events: none; }
  #site.in_content .transition_button.black_mobile {
    opacity: 1;
    pointer-events: auto; }
  #site #language .fr {
    color: #000; } }

/*# sourceMappingURL=main.css.map */
